{% extends 'base.html.twig' %}
{% block title %}Проекты{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Проекты</h2>
        <a href="{{ path('project_new') }}" class="btn btn-primary mb-3">Добавить проект</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Активен</th>
                <th>Дествия</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.isActive ? 'Да' : 'Нет' }}</td>
                    <td>
                        <a href="{{ path('project_edit', {id: project.id}) }}" class="btn btn-sm btn-warning">Редактировать</a>
                        <a href="{{ path('project_delete', {id: project.id}) }}" class="btn btn-sm btn-danger"
                           onclick="return confirm('Удалить проект?');">Удалить</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">Нет проектов</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
