{# templates/cash_account/new.html.twig и edit.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-xl">
        <h2>{{ app.request.get('_route') ends with 'new' ? 'Создать счёт' : 'Редактировать счёт' }}</h2>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.openingBalance) }}
        <button class="btn btn-success">Сохранить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
